body {
    padding: 0;
    margin: 10;
    background: rgb(190, 139, 201);
}
.calculadora-grilla {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);

}
.calculadora-grilla button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color:rgba(239, 208, 240, 0.75);
    
}
button:hover{
    background-color: rgb(243, 239, 243);
}
.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.display {
    color: black;
    font-size: 1.05rem;
    text-align: right;
}